terraform.tfvars
*terraform
.terraform/
.venv/
env/
.terraform.lock.hcl
terraform.tfstate.backup
*.tfvars
*.tfstate
*.tfstate.*
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json